html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

#main {
  flex: 1;
}

#main > .columns {
  min-height: 100%;
}

.sidebar {
  width: 250px;
  background: whitesmoke;
  min-height: 100%;
}

#counter {
  width: 80px;
}

#notification-area {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

#notification-area > div {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}

ul.tree  {
  margin-left: 0em;
  line-height: 1.5em;
  list-style-type: none;
}

ul.tree > li:hover {
  border-left: 1px solid gray;
}

li.tree:hover ~ li {
  text-decoration: underline;
}

li.sub {
  padding-left: 1em;
}

#state-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 150px;
}

.box.state-box {
  margin: 0.25rem;
  margin-bottom: 0.25rem;
}
